{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block content %}

<h1>Delete</h1>
<br><br>
<h3> Delete: {{ post.title }}</h3>

<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure about that?</strong><br>
        <button class="btn btn-secondary">Delete Post!</button>
    </form>
</div>

{% endblock %}