{% extends 'base.html' %}
{% block content %}

<!--<h1>Rekonstruksi 3D</h1>-->
<br>
<h4>3D Model History:</h4>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'detail' post.pk %}" target="_blank">{{ post.title }}</a><br/>
        <a href="{% url 'delete' post.pk %}">Delete</a>
        {{ post.body }}</li>
{% endfor %}
</ul>
<!--<embed src="https://tangrams.github.io/heightmapper/#10.459/-8.1088/114.1493" style="width:500px; height: 300px;">-->

{% endblock %}