{% extends 'base.html' %}
{% block content %}

<h1>Input Data</h1>
<br><br>

<div class="form-label">
    <form target="_blank" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="heightmap">Heightmap</label>
            <input type="file" class="form-control" id="heightmap" name="image">
        </div>
        <div class="form-group">
            <label for="texture">Texture</label>
            <input type="file" class="form-control" id="texture" name="texture_map">
        </div>
<!--        <input type="file" name="texture_map">-->
        <br>
        <button class="btn btn-primary">Upload</button>
<!--        <button class="btn btn-primary">Process</button>-->
    </form>
</div>



{% endblock %}